<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>im.deepblue.adguardhome</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/deepblue/services/adguard/AdGuardHome</string>
        <string>-w</string>
        <string>/Users/deepblue/services/adguard/data</string>
        <string>-c</string>
        <string>/Users/deepblue/services/adguard/AdGuardHome.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/deepblue/services/adguard/logs/adguard_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/deepblue/services/adguard/logs/adguard_out.log</string>
</dict>
</plist>
